.main-footer {
    background-color: #222836;
}

.footer-icon li {
    margin: auto;
    padding: 7px;
    list-style-type: none;
}

.footer-icon {
    display: flex;
    padding-top: 5%;
    padding-left: 30%;
    padding-right: 30%;
    margin-bottom: 20px;
}

.footer-icon i {
    color: #5a5956;
    font-size: 25px;
    transition: .5s;
}

.footer-icon i:hover {
    color: #0092ca;
}

.footer-rights {
    color: #686f7c;
    text-align: center;
    padding-bottom: 3%;
}

.footer-rights p {
    font-size: 14px;
}